CT_WORK_DIR="/var/cache/xt"
CT_PREFIX_DIR="/opt/xt/${CT_TARGET}"
CT_PARALLEL_JOBS=4
CT_ARCH_ARCH="24kc"
CT_ARCH_TUNE="24kc"
CT_ARCH_mips=y
CT_KERNEL_linux=y
CT_LIBC_uClibc=y
CT_LIBC_UCLIBC_V_0_9_33_2=y
